<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>导出MAT1</title>
    <script th:src="@{/layui/layui.js}"></script>
    <link th:rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--引入topbar-->
    <div th:replace="commons/bar::topbar"></div>
    <!--引入sidebar-->
<!--    <div th:replace="commons/bar::sidebar"></div>-->
    <div class="layui-body" style="padding: 25px;border:20px;">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;">
                <legend><h2>复合导出MAT8卡片</h2></legend>
            </fieldset>
            <form class="layui-form" th:action="@{/export/mat8}" method="post" id="form">
                <div class="layui-form-item">
                    <fieldset class="layui-elem-field">
                        <legend><h6 style="color: #c82333">执行控制段</h6></legend>
                        <div class="layui-field-box">
                            <div class="layui-inline">
                                <label class="layui-form-label" style="size:70px"><span
                                        style="color: red;">*</span>ID</label>
                                <div class="layui-input-block">
                                    <input type="text" name="ID" class="layui-input"
                                           th:value="'C'+${composite.id}" readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="size:70px"><span style="color:red;">*</span>求解类型</label>
                                <div class="layui-input-block">
                                    <select name="SOL" lay-verify="">
                                        <option value="101">线性静力分析</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="layui-form-item">
                    <fieldset class="layui-elem-field">
                        <legend><h6 style="color: #c82333">情况控制段</h6></legend>
                        <div class="layui-field-box">
                            <div class="layui-inline">
                                <label class="layui-form-label">TITLE</label>
                                <div class="layui-input-block">
                                    <input type="text" name="TITLE" class="layui-input" th:value="COMPOSITE" readOnly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="layui-form-item">
                    <fieldset class="layui-elem-field">
                        <legend><h6 style="color: #c82333">模型数据集</h6></legend>
                        <div class="layui-field-box">
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>MID</label>
                                <div class="layui-input-block">
                                    <input type="text" name="MID" class="layui-input" th:value="${composite.matId}" readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>纵向弹性模量E1</label>
                                <div class="layui-input-block">
                                    <input type="text" name="E1" class="layui-input" th:value="${composite.e1}" readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>纵向弹性模量E2</label>
                                <div class="layui-input-block">
                                    <input type="text" name="E2" class="layui-input" th:value="${composite.e2}" readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>质量密度RHO</label>
                                <div class="layui-input-block">
                                    <input type="text" name="RHO" class="layui-input" th:value="${composite.rho}"
                                           readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>泊松比NU12</label>
                                <div class="layui-input-block">
                                    <input type="text" name="NU12" class="layui-input" th:value="${composite.nu12}" readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>面内剪切模量G12</label>
                                <div class="layui-input-block">
                                    <input type="text" name="G12" class="layui-input" th:value="${composite.g12}"
                                           readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>1Z平面受剪切模量G1Z</label>
                                <div class="layui-input-block">
                                    <input type="text" name="G1Z" class="layui-input" th:value="${composite.g1z}" readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>2Z平面受剪切模量G2Z</label>
                                <div class="layui-input-block">
                                    <input type="text" name="G2Z" class="layui-input" th:value="${composite.g2z}" readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>1方向热膨胀系数A1</label>
                                <div class="layui-input-block">
                                    <input type="text" name="A1" class="layui-input" th:value="${composite.a}" readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>2方向热膨胀系数A2</label>
                                <div class="layui-input-block">
                                    <input type="text" name="A2" class="layui-input" th:value="${composite.a}" readOnly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><span style="color: red; "></span>参考温度TREF</label>
                                <div class="layui-input-block">
                                    <input type="text" name="TREF" class="layui-input" th:value="${composite.temperature}" readOnly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" th:text="导出MAT8卡片" lay-filter="demo1">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--引入footer-->
    <div th:replace="commons/bar::footer"></div>
</div>
<script>
    layui.use(['form', 'jquery', 'element'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        form.render();

    });
</script>
</body>
</html>