<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/layui/layui.js}"></script>
    <link th:rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding:5px;">
        <form class="layui-form" th:action="@{/task/analysis}" method="post" id="form">
            <input type="hidden" name="modelId" id="modelId" th:value="${modelId}"/>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red; ">*</span>分析类型</label>
                <div class="layui-input-inline">
                    <select name="type" id="type" lay-filter="type" >
                        <option value="静力分析">静力分析</option>
                        <option value="正向模态">正向模态</option>
<!--                        <option value="气动颤振">气动颤振</option>-->
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red; ">*</span>任务描述</label>
                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                        <textarea name="description" placeholder="请输入内容" class="layui-textarea"
                                  lay-verify="required" lay-reqtext="任务描述是必填项！"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red; ">*</span>上传前处理文件</label>
                <button id="hideupload1" type="button" style="display:none;"></button>
                <div class="layui-upload-drag" id="beforeFile">
                    <i class="layui-icon">&#xe67c;</i>
                    <p>点击上传，或将文件拖拽到此处</p>
                    <input type="hidden" id="beforePath" name="beforePath" value=""/>
                    <div class="layui-upload-list">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red; ">*</span>上传结果文件</label>
                <button id="hideupload2" type="button" style="display:none;"></button>
                <div class="layui-upload-drag" id="resultFile">
                    <i class="layui-icon">&#xe67c;</i>
                    <p>点击上传，或将文件拖拽到此处</p>
                    <input type="hidden" id="resultPath" name="resultPath" value=""/>
                    <div class="layui-upload-list">
                        <p id="demoText1"></p>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" th:text="创建" lay-filter="demo1">
                        提交
                    </button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'upload', 'jquery', 'element'], function () {
        var $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer
            , upload = layui.upload;
        form.render();
        var element = layui.element;
        var beforeflag=false;
        var resultflag=false;
        var formData={};
        var modelId=$('#modelId').val();
        // 前处理文件上传
        var uploadBeforeFile =upload.render({
            elem: '#beforeFile'
            , url: '/upload/beforeFile' //改成您自己的上传接口
            , accept: 'file'
            , auto: false
            , data: {
                modelId:modelId
            }
            , bindAction: '#hideupload1'
            ,choose:function(obj){//假上传
                beforeflag = true;//判断是否已上传，用于表单提交中控制跳转
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">已提交</span> ')
            }
            , done: function (res, index, upload) {
                if (res.code == "1") {
                    formData.beforePath=res.data;
                    formData.id=res.analysisId;
                    $("#hideupload2").trigger('click');
                } else if (res.code == "0") {
                    layer.msg('文件未选择，导入失败！');
                } else {
                    layer.msg('文件上传出现异常，请检查文件格式或网络，稍后重试！');
                }
            }
            , error: function () {
                // 演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadBeforeFile.upload();
                });
            }
        });
        // 结果文件上传
        var uploadResultFile=upload.render({
            elem: '#resultFile'
            , url: '/upload/resultFile' //改成您自己的上传接口
            , accept: 'file'
            , auto: false
            , data: {
                modelId:modelId
            }
            , bindAction: '#hideupload2'
            ,choose:function(obj){//假上传
                resultflag = true;//判断是否已上传，用于表单提交中控制跳转
                var demoText = $('#demoText1');
                demoText.html('<span style="color: #FF5722;">已提交</span> ')
            }
            , done: function (res, index, upload) {
                if (res.code == "1") {
                    // 保存地址到表单域
                    formData.resultPath=res.data
                    $.ajax({
                        url: "/task/analysis",
                        type: "POST",
                        data: JSON.stringify(formData),
                        dataType: "json",
                        async: true,
                        contentType:"application/json",
                        processData: false,
                        success: function (data) {
                            if (data == 0) {
                                layer.msg("新建成功");
                                layer.close(layer.index);
                                window.parent.location.reload();
                            } else {
                                //关闭弹框
                                layer.msg("新建失败");
                                layer.close(layer.index);
                                window.parent.location.reload();
                            }
                        }
                    });
                } else if (res.code == "0") {
                    layer.msg('文件未选择，导入失败！');
                } else {
                    layer.msg('文件上传出现异常，请检查文件格式或网络，稍后重试！');
                }
            }
            , error: function () {
                // 演示失败状态，并实现重传
                var demoText = $('#demoText1');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadResultFile.upload();
                });
            }
        });
        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.msg('提交中, 请稍后...', {
                icon: 16,
                shade: 0.01
            },8000);
            formData.type=data.field.type;
            formData.description=data.field.description;
            formData.modelId=data.field.modelId;
            if(beforeflag&&resultflag) {//判断是否上传模型，触发模型的上传功能
                $("#hideupload1").trigger('click');
            }else {
                layer.open({
                    title: '提示'
                    ,content: '请上传全部文件！！'
                });
            }
            return false;
        });
    });
</script>
</body>
</html>