<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/layui/layui.js}"></script>
    <link th:rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding:5px;">
        <input type="hidden" name="id" id="id" th:value="${realId}"/>
        <table class="layui-hide" style="margin-top:15px;" id="detail" lay-filter="detail"></table>
    </div>
</div>
<script>
    layui.use(['form','table', 'jquery', 'element'], function () {
        var $ = layui.jquery;
        var table = layui.table,
            form=layui.form;
        form.render();
        var element = layui.element;
        var realId = $('#id').val();
        table.render({
            elem: '#detail'
            , url: '/real/detail/'+realId
            , method: "get"
            , page: true    //true表示分页
            , title: '详细信息'
            , id: 'detailList'
            , toolbar: '#toolbarDemo'  //开启表格头部工具栏区域
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [
                [
                     {field: 'speed', width: "40%", title: '颤振速度标量',align:'center'}
                    , {field: 'velocity', width: "30%", title: '颤振速度矢量',align:'center'}
                    , {field: 'lamar', width: "30%", title: 'LAMAR',align:'center'}
                    // , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
                ]
            ]
            , done: function (res, curr, count) {
            }
        });
    });
</script>
</body>
</html>