<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/layui/layui.js}"></script>
    <link th:rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link th:rel="stylesheet" th:href="@{/layui/css/layuimini.css}">
</head>
<body>
<!--topbar-->
<div class="layui-header" th:fragment="topbar">
    <div class="layui-logo">结构强度材料性能库</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <a>
        <div class="layuimini-tool"><i title="展开" class="fa fa-outdent" data-side-fold="1"></i></div>
    </a>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
              [[${session.user.userName}]]
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a th:href="@{/user/exit}">退出登录</a></li>
    </ul>
</div>
<!--sidebar-->
<div class="layui-side layui-bg-black" th:fragment="sidebar">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">金属材料</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/metal/aluminum}"><i class="layui-icon " style="font-size:18px;">&#xe656;</i>&nbsp;铝</a> </dd>
                    <dd><a th:href="@{/metal/steel}"><i class="layui-icon " style="font-size:18px;">&#xe656;</i>&nbsp;钢</a> </dd>
                    <dd><a th:href="@{/metal/titanium}"><i class="layui-icon " style="font-size:18px;">&#xe656;</i>&nbsp;钛</a> </dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a th:href="@{/users}">复合材料</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a th:href="@{/users}">铺层</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a th:href="@{/users}">型材</a>
            </li>
        </ul>
    </div>
</div>
<!--内容区顶部空白-->
<!--填补内容区域顶部-->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
     th:fragment="bar">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary"></button>
            <button class="btn btn-sm btn-outline-secondary"></button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">

        </button>
    </div>
</div>

<!-- Icons -->
<script type="text/javascript" src="asserts/js/feather.min.js" th:src="@{/asserts/js/feather.min.js}"></script>
<script>
    feather.replace()
</script>

</body>
</html>