<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/layui/layui.js}"></script>
    <link th:rel="stylesheet" th:href="@{/admin-layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--引入topbar-->
    <div th:replace="admin/bar::topbar"></div>
    <!--引入sidebar-->
    <div th:replace="admin/bar::sidebar"></div>
    <div class="layui-body" style="padding: 25px;border:20px;">
        <!-- 内容主体区域 -->
        <div class="layui-btn-group demoTable" style="margin-top:20px;">
        </div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;">
            <legend><h2>ISAP复合数据</h2></legend>
        </fieldset>
        <div class="layuimini-main">
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" >
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">名称</label>
                            <div class="layui-input-inline">
                                <select name="name" id="name" lay-filter="name">
                                    <option value="">请选择</option>
                                    <option value="CMS-CP-301">CMS-CP-301</option>
                                    <option value="CMS-CP-308">CMS-CP-308</option>
                                    <option value="CMS-CP-309">CMS-CP-309</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">变量</label>
                            <div class="layui-input-inline">
                                <select name="parameter" id="parameter" lay-filter="parameter">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn"  data-type="reload" id="search" name="search">搜索</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="layui-hide" style="margin-top:15px;" id="idTest" lay-filter="demo">
        </table>
    </div>
    <!--引入footer-->
    <div th:replace="admin/bar::footer"></div>
</div>
<script type="text/html" id="barDemo">
<!--    <a class="layui-btn layui-btn-xs" lay-event="info">查看</a>-->

    <a class="layui-btn layui-bg-red layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm" id="exportFile"   th:href="@{/export/composite/original}"><i class="layui-icon">&#xe619;</i> 批量导出
        </a>
        <button type="button" class="layui-btn layui-btn-sm" id="importFile"><i class="layui-icon">&#xe61a;</i> 批量导入
        </button>
        <a type="button" class="layui-btn layui-btn-sm" id="downloadTemplate" th:href="@{/download/composite/original}"><i
                class="layui-icon">&#xe67d;</i> 下载模板</a>
    </div>
</script>
<script>
    layui.use(['table', 'jquery', 'element','upload','form'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var element = layui.element;
        var upload = layui.upload;
        var form=layui.form;
        var type =$("#type").val()
        //初始化
        table.render({
            elem: '#idTest'
            , url: '/composites/isap/data'
            , method: "get"
            , page: true    //true表示分页
            , title: '原始复合数据信息'
            , id: 'list'
            , toolbar: '#toolbarDemo'  //开启表格头部工具栏区域
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [
                [
                    {field: 'name', title: '名称', sort: true}
                    , {field: 'parameter', title: '变量'}
                    , {field: 'condition',title: '条件'}
                    , {field: 'value',  title: '值'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
                ]
            ]
        });
        // 表单初始化
        form.render();
        //多级下拉框联动
        form.on('select(name)', function (data) {
            var name = $("#name option:selected").val();//获得选中的option的值
            $.ajax({
                url: 'query?name=' + name,   //带参数将这个传到后台条件查询方法里面
                type: "Get",
                contentType: "application/json",
                async: false,//同步
                success: function (result) {
                    var data = result.data;
                    var str = '<option value = " ">' +  '</option>';
                    for (var x in data) {
                        str += '<option value = "' + data[x] + '">' + data[x] + '</option>';
                    }
                    $("#parameter").html(str);
                }
            });
            form.render('select');//最后记得渲染
        });
        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });
        //监听右部操作工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            switch(obj.event){
                case 'del':
                    layer.confirm('真的删除行么', function (index) {
                        layer.msg('删除中...', {icon: 16, shade: 0.3, time: 3000});
                        $.ajax({
                            url: '/composite/original/' + data.id,
                            method: 'delete',
                            dataType: 'text',
                            success: function (data) {
                                layer.msg("删除成功");
                                obj.del();   //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index); //再执行关闭
                            }
                        });
                    });
                    break;
                case 'info':
                    window.location.href = "/metal/original/" + data.id;
                    break;
            }
        });
        //监听顶部操作工具条
        table.on('toolbar(demo)', function (obj) {  //注：toolbar是工具条事件名，demo是table原始容器的属性 lay-filter="对应的值"
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'export':
                    layer.confirm('确定导出所有数据？', function (index) {
                        layer.msg('导出中...', {icon: 16, shade: 0.3, time: 3000});
                        $.ajax({
                            url:'/export/metal/original',
                            method:'post',
                            dataType:'text',
                            done: function (res) {//返回值接收
                                // if (res == "1") {
                                //     layer.msg('导出失败，请稍后重试！', {}, function () {
                                //         location.reload();
                                //     });
                                // }else{
                                //     layer.msg('导出成功！', {}, function () {
                                //         location.reload();
                                //     // });
                                // }
                            }
                        });
                        return false;
                    });
                    break;
            }
            ;
        });
        //表格搜索重载
        var $ = layui.$, active = {
            reload: function(){
                var name= $('#name').val();
                var parameter= $('#parameter').val();
                //执行重载
                table.reload('list', {
                    method:'get'
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        name:name,
                        parameter:parameter
                    }
                }, 'data');
            }
        };
        //按条件搜索按钮
        $('#search').on('click', function(){	//search为搜索button中设置的id名
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        upload.render({       //文件上传
            elem: '#importFile'
            , url: '/composite/original/upload'
            , accept: 'file' //普通文件
            , exts: 'xlsx|xls' //允许上传的文件后缀
            , done: function (res) {//返回值接收
                if (res == "1") {
                    layer.msg('导入成功！', {}, function () {
                        location.reload();
                    });
                } else if (res == "0") {
                    layer.msg('文件未选择，导入失败！', {}, function () {
                        location.reload();
                    });
                } else {
                    layer.msg('文件上传出现异常，请检查文件格式或网络，稍后重试！', {}, function () {
                        location.reload();
                    });
                }
            }
        });
    });
</script>
</body>
</html>