<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script th:src="@{/layui/layui.js}"></script>
    <link th:rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link th:href="@{static/asserts/css/bootstrap.min.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--引入topbar-->
    <div th:replace="commons/bar::topbar"></div>
    <!--引入sidebar-->
    <!--    <div th:replace="commons/bar::sidebar"></div>-->
    <div class="layui-body" style="padding: 35px;border:30px;">
        <!-- 内容主体区域 -->
        <div style="padding: 15px">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;">
                <legend><h2>填写个人基本信息</h2></legend>
            </fieldset>
            <form class="layui-form" th:action="@{/user}" method="post" id="form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span style="color: red; ">*</span>登录账号</label>
                        <div class="layui-input-block">
                            <input type="text" name="userId" lay-verify="required"
                                   autocomplete="off" th:value="${userId}"
                                   class="layui-input" readonly>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span style="color: red; ">*</span>用户昵称</label>
                        <div class="layui-input-block">
                            <input type="text" name="userName" lay-verify="title" ay-reqtext="用户名是必填项，岂能为空？"
                                   autocomplete="off" placeholder="请输入昵称"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block" >
                        <input type="radio" name="gender" value="0" title="男" checked="">
                        <input type="radio" name="gender" value="1" title="女">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span style="color: red; ">*</span>手机号</label>
                        <div class="layui-input-block">
                            <input type="tel" name="phone"
                                   lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span style="color: red; ">*</span>邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" lay-verify="email"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red; ">*</span>密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" id="password" lay-verify="pass" placeholder="请输入密码" autocomplete="off"
                               class="layui-input" >
                    </div>
                    <div class="layui-form-mid layui-word-aux">
<!--                        <button type="button" id="btn" onclick="qiehuan()">显示</button>-->
                       <a  class="layui-btn layui-btn-primary layui-btn-xs" id="btn"><i class="layui-icon " style="font-size:18px;">&#xe673;</i></a>
                    </div>
<!--                    <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>-->
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red; ">*</span>再输入一遍密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="repassword" id="repassword" lay-verify="repass" placeholder="请再次输入密码" autocomplete="off"
                               class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">
                            提交
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--引入footer-->
    <div th:replace="commons/bar::footer"></div>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate', 'jquery', 'element'], function () {
        var $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate;
        form.render();
        var element = layui.element;
        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
        var isPs = true;
        $('#btn').on('click', function(){
            var Input = document.getElementById('password');
            if(isPs){
                Input.setAttribute("type","password");
                isPs = false;
            }else{
                Input.setAttribute("type","text");
                isPs = true;
            }
        });
        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 3) {
                    return '昵称至少得3个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , repass:  function (value) {
                var password = document.getElementById("password").value;
                if (value!=password) {
                    return '两次密码输入不一致！请重新输入';
                }
            }
        });
        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            // form.submit();
            return false;
        });
    });
</script>
<!--<script type="text/javascript">-->
<!--    var isPs = true;-->
<!--    function qiehuan(){-->
<!--        var Input = document.getElementById('password');-->
<!--        if(isPs){-->
<!--            Input.setAttribute("type","password");-->
<!--            isPs = false;-->
<!--        }else{-->
<!--            Input.setAttribute("type","text");-->
<!--            isPs = true;-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>
</html>