<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suruomo.material.dao.MetalInputMapper" >
  <resultMap id="BaseResultMap" type="com.suruomo.material.pojo.MetalInput" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
    <result column="FAMILY" property="family" jdbcType="VARCHAR" />
    <result column="SPECIFICATION" property="specification" jdbcType="VARCHAR" />
    <result column="FORM" property="form" jdbcType="VARCHAR" />
    <result column="TEMPER" property="temper" jdbcType="VARCHAR" />
    <result column="TH_MIN" property="thMin" jdbcType="DECIMAL" />
    <result column="TH_MAX" property="thMax" jdbcType="DECIMAL" />
    <result column="BASIS" property="basis" jdbcType="VARCHAR" />
    <result column="DIRECTION" property="direction" jdbcType="VARCHAR" />
    <result column="E" property="e" jdbcType="DECIMAL" />
    <result column="E_SEC" property="eSec" jdbcType="DECIMAL" />
    <result column="E_C" property="eC" jdbcType="DECIMAL" />
    <result column="E_C_SEC" property="eCSec" jdbcType="DECIMAL" />
    <result column="F_BRU_1_5" property="fBru15" jdbcType="DECIMAL" />
    <result column="F_BRU_2_0" property="fBru20" jdbcType="DECIMAL" />
    <result column="F_BRY_1_5" property="fBry15" jdbcType="DECIMAL" />
    <result column="F_BRY_2_0" property="fBry20" jdbcType="DECIMAL" />
    <result column="F_CY" property="fCy" jdbcType="DECIMAL" />
    <result column="F_SU" property="fSu" jdbcType="DECIMAL" />
    <result column="F_TU" property="fTu" jdbcType="DECIMAL" />
    <result column="F_TY" property="fTy" jdbcType="DECIMAL" />
    <result column="G" property="g" jdbcType="DECIMAL" />
    <result column="NU" property="nu" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, TYPE_NAME, FAMILY, SPECIFICATION, FORM, TEMPER, TH_MIN, TH_MAX, BASIS, 
    DIRECTION, E, E_SEC, E_C, E_C_SEC, F_BRU_1_5, F_BRU_2_0, F_BRY_1_5, F_BRY_2_0, F_CY, 
    F_SU, F_TU, F_TY, G, NU
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from "METAL"."METAL_INPUT"
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="getAll" resultType="com.suruomo.material.pojo.MetalInput">
 select * from (
    <![CDATA[
    select rownum rn,a.* from (select * from "METAL"."METAL_INPUT") a where rownum <= #{end}
    ]]>
    )
    where rn >= #{start}
  </select>
  <select id="getCount" resultType="java.lang.Integer">
    select count (*) from "METAL"."METAL_INPUT"
</select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from "METAL"."METAL_INPUT"
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.suruomo.material.pojo.MetalInput" >
    insert into METAL_INPUT (ID, NAME, TYPE_NAME, 
      FAMILY, SPECIFICATION, FORM, 
      TEMPER, TH_MIN, TH_MAX, 
      BASIS, DIRECTION, E, 
      E_SEC, E_C, E_C_SEC, F_BRU_1_5, 
      F_BRU_2_0, F_BRY_1_5, F_BRY_2_0, 
      F_CY, F_SU, F_TU, F_TY, 
      G, NU)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{family,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, #{form,jdbcType=VARCHAR}, 
      #{temper,jdbcType=VARCHAR}, #{thMin,jdbcType=DECIMAL}, #{thMax,jdbcType=DECIMAL}, 
      #{basis,jdbcType=VARCHAR}, #{direction,jdbcType=VARCHAR}, #{e,jdbcType=DECIMAL}, 
      #{eSec,jdbcType=DECIMAL}, #{eC,jdbcType=DECIMAL}, #{eCSec,jdbcType=DECIMAL}, #{fBru15,jdbcType=DECIMAL}, 
      #{fBru20,jdbcType=DECIMAL}, #{fBry15,jdbcType=DECIMAL}, #{fBry20,jdbcType=DECIMAL}, 
      #{fCy,jdbcType=DECIMAL}, #{fSu,jdbcType=DECIMAL}, #{fTu,jdbcType=DECIMAL}, #{fTy,jdbcType=DECIMAL}, 
      #{g,jdbcType=DECIMAL}, #{nu,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.suruomo.material.pojo.MetalInput" >
    insert into METAL_INPUT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
      <if test="family != null" >
        FAMILY,
      </if>
      <if test="specification != null" >
        SPECIFICATION,
      </if>
      <if test="form != null" >
        FORM,
      </if>
      <if test="temper != null" >
        TEMPER,
      </if>
      <if test="thMin != null" >
        TH_MIN,
      </if>
      <if test="thMax != null" >
        TH_MAX,
      </if>
      <if test="basis != null" >
        BASIS,
      </if>
      <if test="direction != null" >
        DIRECTION,
      </if>
      <if test="e != null" >
        E,
      </if>
      <if test="eSec != null" >
        E_SEC,
      </if>
      <if test="eC != null" >
        E_C,
      </if>
      <if test="eCSec != null" >
        E_C_SEC,
      </if>
      <if test="fBru15 != null" >
        F_BRU_1_5,
      </if>
      <if test="fBru20 != null" >
        F_BRU_2_0,
      </if>
      <if test="fBry15 != null" >
        F_BRY_1_5,
      </if>
      <if test="fBry20 != null" >
        F_BRY_2_0,
      </if>
      <if test="fCy != null" >
        F_CY,
      </if>
      <if test="fSu != null" >
        F_SU,
      </if>
      <if test="fTu != null" >
        F_TU,
      </if>
      <if test="fTy != null" >
        F_TY,
      </if>
      <if test="g != null" >
        G,
      </if>
      <if test="nu != null" >
        NU,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="family != null" >
        #{family,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="form != null" >
        #{form,jdbcType=VARCHAR},
      </if>
      <if test="temper != null" >
        #{temper,jdbcType=VARCHAR},
      </if>
      <if test="thMin != null" >
        #{thMin,jdbcType=DECIMAL},
      </if>
      <if test="thMax != null" >
        #{thMax,jdbcType=DECIMAL},
      </if>
      <if test="basis != null" >
        #{basis,jdbcType=VARCHAR},
      </if>
      <if test="direction != null" >
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="e != null" >
        #{e,jdbcType=DECIMAL},
      </if>
      <if test="eSec != null" >
        #{eSec,jdbcType=DECIMAL},
      </if>
      <if test="eC != null" >
        #{eC,jdbcType=DECIMAL},
      </if>
      <if test="eCSec != null" >
        #{eCSec,jdbcType=DECIMAL},
      </if>
      <if test="fBru15 != null" >
        #{fBru15,jdbcType=DECIMAL},
      </if>
      <if test="fBru20 != null" >
        #{fBru20,jdbcType=DECIMAL},
      </if>
      <if test="fBry15 != null" >
        #{fBry15,jdbcType=DECIMAL},
      </if>
      <if test="fBry20 != null" >
        #{fBry20,jdbcType=DECIMAL},
      </if>
      <if test="fCy != null" >
        #{fCy,jdbcType=DECIMAL},
      </if>
      <if test="fSu != null" >
        #{fSu,jdbcType=DECIMAL},
      </if>
      <if test="fTu != null" >
        #{fTu,jdbcType=DECIMAL},
      </if>
      <if test="fTy != null" >
        #{fTy,jdbcType=DECIMAL},
      </if>
      <if test="g != null" >
        #{g,jdbcType=DECIMAL},
      </if>
      <if test="nu != null" >
        #{nu,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suruomo.material.pojo.MetalInput" >
    update METAL_INPUT
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="family != null" >
        FAMILY = #{family,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        SPECIFICATION = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="form != null" >
        FORM = #{form,jdbcType=VARCHAR},
      </if>
      <if test="temper != null" >
        TEMPER = #{temper,jdbcType=VARCHAR},
      </if>
      <if test="thMin != null" >
        TH_MIN = #{thMin,jdbcType=DECIMAL},
      </if>
      <if test="thMax != null" >
        TH_MAX = #{thMax,jdbcType=DECIMAL},
      </if>
      <if test="basis != null" >
        BASIS = #{basis,jdbcType=VARCHAR},
      </if>
      <if test="direction != null" >
        DIRECTION = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="e != null" >
        E = #{e,jdbcType=DECIMAL},
      </if>
      <if test="eSec != null" >
        E_SEC = #{eSec,jdbcType=DECIMAL},
      </if>
      <if test="eC != null" >
        E_C = #{eC,jdbcType=DECIMAL},
      </if>
      <if test="eCSec != null" >
        E_C_SEC = #{eCSec,jdbcType=DECIMAL},
      </if>
      <if test="fBru15 != null" >
        F_BRU_1_5 = #{fBru15,jdbcType=DECIMAL},
      </if>
      <if test="fBru20 != null" >
        F_BRU_2_0 = #{fBru20,jdbcType=DECIMAL},
      </if>
      <if test="fBry15 != null" >
        F_BRY_1_5 = #{fBry15,jdbcType=DECIMAL},
      </if>
      <if test="fBry20 != null" >
        F_BRY_2_0 = #{fBry20,jdbcType=DECIMAL},
      </if>
      <if test="fCy != null" >
        F_CY = #{fCy,jdbcType=DECIMAL},
      </if>
      <if test="fSu != null" >
        F_SU = #{fSu,jdbcType=DECIMAL},
      </if>
      <if test="fTu != null" >
        F_TU = #{fTu,jdbcType=DECIMAL},
      </if>
      <if test="fTy != null" >
        F_TY = #{fTy,jdbcType=DECIMAL},
      </if>
      <if test="g != null" >
        G = #{g,jdbcType=DECIMAL},
      </if>
      <if test="nu != null" >
        NU = #{nu,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suruomo.material.pojo.MetalInput" >
    update METAL_INPUT
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      FAMILY = #{family,jdbcType=VARCHAR},
      SPECIFICATION = #{specification,jdbcType=VARCHAR},
      FORM = #{form,jdbcType=VARCHAR},
      TEMPER = #{temper,jdbcType=VARCHAR},
      TH_MIN = #{thMin,jdbcType=DECIMAL},
      TH_MAX = #{thMax,jdbcType=DECIMAL},
      BASIS = #{basis,jdbcType=VARCHAR},
      DIRECTION = #{direction,jdbcType=VARCHAR},
      E = #{e,jdbcType=DECIMAL},
      E_SEC = #{eSec,jdbcType=DECIMAL},
      E_C = #{eC,jdbcType=DECIMAL},
      E_C_SEC = #{eCSec,jdbcType=DECIMAL},
      F_BRU_1_5 = #{fBru15,jdbcType=DECIMAL},
      F_BRU_2_0 = #{fBru20,jdbcType=DECIMAL},
      F_BRY_1_5 = #{fBry15,jdbcType=DECIMAL},
      F_BRY_2_0 = #{fBry20,jdbcType=DECIMAL},
      F_CY = #{fCy,jdbcType=DECIMAL},
      F_SU = #{fSu,jdbcType=DECIMAL},
      F_TU = #{fTu,jdbcType=DECIMAL},
      F_TY = #{fTy,jdbcType=DECIMAL},
      G = #{g,jdbcType=DECIMAL},
      NU = #{nu,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>