<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suruomo.material.dao.MetalOutMapper" >
  <resultMap id="BaseResultMap" type="com.suruomo.material.pojo.MetalOut" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
    <result column="FAMILY" property="family" jdbcType="VARCHAR" />
    <result column="SPECIFICATION" property="specification" jdbcType="VARCHAR" />
    <result column="FORM" property="form" jdbcType="VARCHAR" />
    <result column="TEMPER" property="temper" jdbcType="VARCHAR" />
    <result column="MAT_ID" property="matId" jdbcType="VARCHAR" />
    <result column="RHO" property="rho" jdbcType="DECIMAL" />
    <result column="BOOKS" property="books" jdbcType="VARCHAR" />
    <result column="AIRCRAFT" property="aircraft" jdbcType="VARCHAR" />
    <result column="F_BRU" property="fBru" jdbcType="DECIMAL" />
    <result column="F_BRY" property="fBry" jdbcType="DECIMAL" />
    <result column="E" property="e" jdbcType="DECIMAL" />
    <result column="F_SU" property="fSu" jdbcType="DECIMAL" />
    <result column="E_C" property="eC" jdbcType="DECIMAL" />
    <result column="F_CY" property="fCy" jdbcType="DECIMAL" />
    <result column="G" property="g" jdbcType="DECIMAL" />
    <result column="NU" property="nu" jdbcType="DECIMAL" />
    <result column="F_TU" property="fTu" jdbcType="DECIMAL" />
    <result column="F_TY" property="fTy" jdbcType="DECIMAL" />
    <result column="A" property="a" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, TYPE_NAME, FAMILY, SPECIFICATION, FORM, TEMPER, MAT_ID, RHO, BOOKS, AIRCRAFT, 
    F_BRU, F_BRY, E, F_SU, E_C, F_CY, G, NU, F_TU, F_TY, A, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from  "METAL"."METAL_OUTPUT"
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="getAll" resultType="com.suruomo.material.pojo.MetalOut">
 select * from (
    <![CDATA[
    select rownum rn,a.* from (select * from "METAL"."METAL_OUTPUT" where TYPE_NAME=#{queryType}) a where rownum <= #{end} and TYPE_NAME=#{queryType}
    ]]>
    )
    where rn >= #{start}
  </select>
  <select id="getCount" resultType="java.lang.Integer">
    select count (*) from "METAL"."METAL_OUTPUT" where TYPE_NAME=#{queryType}
</select>
    <select id="getAllData" resultType="com.suruomo.material.pojo.MetalOut">
select * from (
    <![CDATA[
    select rownum rn,a.* from (select * from "METAL"."METAL_OUTPUT") a where rownum <= #{end}
    ]]>
    )
    where rn >= #{start}
    </select>
  <select id="getAllCount" resultType="java.lang.Integer">
      select count (*) from "METAL"."METAL_OUTPUT"
  </select>
  <select id="getMaxId" resultType="java.lang.Integer">
    select max(ID) from "METAL"."METAL_OUTPUT"
  </select>
  <select id="getList" resultType="com.suruomo.material.pojo.MetalOut">
    select * from "METAL"."METAL_OUTPUT"
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from "METAL"."METAL_OUTPUT"
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.suruomo.material.pojo.MetalOut" >
    insert into "METAL"."METAL_OUTPUT" (ID, NAME, TYPE_NAME,
      FAMILY, SPECIFICATION, FORM, 
      TEMPER, MAT_ID, RHO, 
      BOOKS, AIRCRAFT, F_BRU, 
      F_BRY, E, F_SU, E_C, 
      F_CY, G, NU, F_TU, 
      F_TY, A, REMARK)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{family,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, #{form,jdbcType=VARCHAR}, 
      #{temper,jdbcType=VARCHAR}, #{matId,jdbcType=VARCHAR}, #{rho,jdbcType=DECIMAL}, 
      #{books,jdbcType=VARCHAR}, #{aircraft,jdbcType=VARCHAR}, #{fBru,jdbcType=DECIMAL}, 
      #{fBry,jdbcType=DECIMAL}, #{e,jdbcType=DECIMAL}, #{fSu,jdbcType=DECIMAL}, #{eC,jdbcType=DECIMAL}, 
      #{fCy,jdbcType=DECIMAL}, #{g,jdbcType=DECIMAL}, #{nu,jdbcType=DECIMAL}, #{fTu,jdbcType=DECIMAL}, 
      #{fTy,jdbcType=DECIMAL}, #{a,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suruomo.material.pojo.MetalOut" >
    insert into METAL_OUTPUT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
      <if test="family != null" >
        FAMILY,
      </if>
      <if test="specification != null" >
        SPECIFICATION,
      </if>
      <if test="form != null" >
        FORM,
      </if>
      <if test="temper != null" >
        TEMPER,
      </if>
      <if test="matId != null" >
        MAT_ID,
      </if>
      <if test="rho != null" >
        RHO,
      </if>
      <if test="books != null" >
        BOOKS,
      </if>
      <if test="aircraft != null" >
        AIRCRAFT,
      </if>
      <if test="fBru != null" >
        F_BRU,
      </if>
      <if test="fBry != null" >
        F_BRY,
      </if>
      <if test="e != null" >
        E,
      </if>
      <if test="fSu != null" >
        F_SU,
      </if>
      <if test="eC != null" >
        E_C,
      </if>
      <if test="fCy != null" >
        F_CY,
      </if>
      <if test="g != null" >
        G,
      </if>
      <if test="nu != null" >
        NU,
      </if>
      <if test="fTu != null" >
        F_TU,
      </if>
      <if test="fTy != null" >
        F_TY,
      </if>
      <if test="a != null" >
        A,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="family != null" >
        #{family,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="form != null" >
        #{form,jdbcType=VARCHAR},
      </if>
      <if test="temper != null" >
        #{temper,jdbcType=VARCHAR},
      </if>
      <if test="matId != null" >
        #{matId,jdbcType=VARCHAR},
      </if>
      <if test="rho != null" >
        #{rho,jdbcType=DECIMAL},
      </if>
      <if test="books != null" >
        #{books,jdbcType=VARCHAR},
      </if>
      <if test="aircraft != null" >
        #{aircraft,jdbcType=VARCHAR},
      </if>
      <if test="fBru != null" >
        #{fBru,jdbcType=DECIMAL},
      </if>
      <if test="fBry != null" >
        #{fBry,jdbcType=DECIMAL},
      </if>
      <if test="e != null" >
        #{e,jdbcType=DECIMAL},
      </if>
      <if test="fSu != null" >
        #{fSu,jdbcType=DECIMAL},
      </if>
      <if test="eC != null" >
        #{eC,jdbcType=DECIMAL},
      </if>
      <if test="fCy != null" >
        #{fCy,jdbcType=DECIMAL},
      </if>
      <if test="g != null" >
        #{g,jdbcType=DECIMAL},
      </if>
      <if test="nu != null" >
        #{nu,jdbcType=DECIMAL},
      </if>
      <if test="fTu != null" >
        #{fTu,jdbcType=DECIMAL},
      </if>
      <if test="fTy != null" >
        #{fTy,jdbcType=DECIMAL},
      </if>
      <if test="a != null" >
        #{a,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suruomo.material.pojo.MetalOut" >
    update METAL_OUTPUT
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="family != null" >
        FAMILY = #{family,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        SPECIFICATION = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="form != null" >
        FORM = #{form,jdbcType=VARCHAR},
      </if>
      <if test="temper != null" >
        TEMPER = #{temper,jdbcType=VARCHAR},
      </if>
      <if test="matId != null" >
        MAT_ID = #{matId,jdbcType=VARCHAR},
      </if>
      <if test="rho != null" >
        RHO = #{rho,jdbcType=DECIMAL},
      </if>
      <if test="books != null" >
        BOOKS = #{books,jdbcType=VARCHAR},
      </if>
      <if test="aircraft != null" >
        AIRCRAFT = #{aircraft,jdbcType=VARCHAR},
      </if>
      <if test="fBru != null" >
        F_BRU = #{fBru,jdbcType=DECIMAL},
      </if>
      <if test="fBry != null" >
        F_BRY = #{fBry,jdbcType=DECIMAL},
      </if>
      <if test="e != null" >
        E = #{e,jdbcType=DECIMAL},
      </if>
      <if test="fSu != null" >
        F_SU = #{fSu,jdbcType=DECIMAL},
      </if>
      <if test="eC != null" >
        E_C = #{eC,jdbcType=DECIMAL},
      </if>
      <if test="fCy != null" >
        F_CY = #{fCy,jdbcType=DECIMAL},
      </if>
      <if test="g != null" >
        G = #{g,jdbcType=DECIMAL},
      </if>
      <if test="nu != null" >
        NU = #{nu,jdbcType=DECIMAL},
      </if>
      <if test="fTu != null" >
        F_TU = #{fTu,jdbcType=DECIMAL},
      </if>
      <if test="fTy != null" >
        F_TY = #{fTy,jdbcType=DECIMAL},
      </if>
      <if test="a != null" >
        A = #{a,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suruomo.material.pojo.MetalOut" >
    update METAL_OUTPUT
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      FAMILY = #{family,jdbcType=VARCHAR},
      SPECIFICATION = #{specification,jdbcType=VARCHAR},
      FORM = #{form,jdbcType=VARCHAR},
      TEMPER = #{temper,jdbcType=VARCHAR},
      MAT_ID = #{matId,jdbcType=VARCHAR},
      RHO = #{rho,jdbcType=DECIMAL},
      BOOKS = #{books,jdbcType=VARCHAR},
      AIRCRAFT = #{aircraft,jdbcType=VARCHAR},
      F_BRU = #{fBru,jdbcType=DECIMAL},
      F_BRY = #{fBry,jdbcType=DECIMAL},
      E = #{e,jdbcType=DECIMAL},
      F_SU = #{fSu,jdbcType=DECIMAL},
      E_C = #{eC,jdbcType=DECIMAL},
      F_CY = #{fCy,jdbcType=DECIMAL},
      G = #{g,jdbcType=DECIMAL},
      NU = #{nu,jdbcType=DECIMAL},
      F_TU = #{fTu,jdbcType=DECIMAL},
      F_TY = #{fTy,jdbcType=DECIMAL},
      A = #{a,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>