<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suruomo.material.dao.ModeFactorsMapper" >
  <resultMap id="BaseResultMap" type="com.suruomo.material.pojo.ModeFactors" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ANALYSIS_ID" property="analysisId" jdbcType="DECIMAL" />
    <result column="MODE_NO" property="modeNo" jdbcType="DECIMAL" />
    <result column="FREQUENCY" property="frequency" jdbcType="DECIMAL" />
    <result column="T1" property="t1" jdbcType="VARCHAR" />
    <result column="T2" property="t2" jdbcType="VARCHAR" />
    <result column="T3" property="t3" jdbcType="VARCHAR" />
    <result column="R1" property="r1" jdbcType="VARCHAR" />
    <result column="R2" property="r2" jdbcType="VARCHAR" />
    <result column="R3" property="r3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ANALYSIS_ID, MODE_NO, FREQUENCY, T1, T2, T3, R1, R2, R3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.suruomo.material.pojo.ModeFactorsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from "METAL"."MODE_FACTORS"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.suruomo.material.pojo.ModeFactorsExample" >
    delete from "METAL"."MODE_FACTORS"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByPrimaryKey">
    delete from "METAL"."MODE_FACTORS"
    where ANALYSIS_ID = #{analysisId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.suruomo.material.pojo.ModeFactors" >
    insert into "METAL"."MODE_FACTORS" (ID, ANALYSIS_ID, MODE_NO, 
      FREQUENCY, T1, T2, 
      T3, R1, R2, R3
      )
    values (#{id,jdbcType=DECIMAL}, #{analysisId,jdbcType=DECIMAL}, #{modeNo,jdbcType=DECIMAL}, 
      #{frequency,jdbcType=DECIMAL}, #{t1,jdbcType=VARCHAR}, #{t2,jdbcType=VARCHAR}, 
      #{t3,jdbcType=VARCHAR}, #{r1,jdbcType=VARCHAR}, #{r2,jdbcType=VARCHAR}, #{r3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.suruomo.material.pojo.ModeFactors" >
    insert into "METAL"."MODE_FACTORS"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="analysisId != null" >
        ANALYSIS_ID,
      </if>
      <if test="modeNo != null" >
        MODE_NO,
      </if>
      <if test="frequency != null" >
        FREQUENCY,
      </if>
      <if test="t1 != null" >
        T1,
      </if>
      <if test="t2 != null" >
        T2,
      </if>
      <if test="t3 != null" >
        T3,
      </if>
      <if test="r1 != null" >
        R1,
      </if>
      <if test="r2 != null" >
        R2,
      </if>
      <if test="r3 != null" >
        R3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="analysisId != null" >
        #{analysisId,jdbcType=DECIMAL},
      </if>
      <if test="modeNo != null" >
        #{modeNo,jdbcType=DECIMAL},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=DECIMAL},
      </if>
      <if test="t1 != null" >
        #{t1,jdbcType=VARCHAR},
      </if>
      <if test="t2 != null" >
        #{t2,jdbcType=VARCHAR},
      </if>
      <if test="t3 != null" >
        #{t3,jdbcType=VARCHAR},
      </if>
      <if test="r1 != null" >
        #{r1,jdbcType=VARCHAR},
      </if>
      <if test="r2 != null" >
        #{r2,jdbcType=VARCHAR},
      </if>
      <if test="r3 != null" >
        #{r3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suruomo.material.pojo.ModeFactorsExample" resultType="java.lang.Integer" >
    select count(*) from "METAL"."MODE_FACTORS"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <select id="getMaxId" resultType="java.lang.Integer">
      select max(ID) from "METAL"."MODE_FACTORS"
    </select>
  <select id="getAll" resultType="com.suruomo.material.pojo.ModeFactors">
    select * from (
    <![CDATA[
                    select rownum rn,a.* from (select * from "METAL"."MODE_FACTORS" where ANALYSIS_ID=#{param1}) a where rownum <= #{end}
    ]]>
    )
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update "METAL"."MODE_FACTORS"
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.analysisId != null" >
        ANALYSIS_ID = #{record.analysisId,jdbcType=DECIMAL},
      </if>
      <if test="record.modeNo != null" >
        MODE_NO = #{record.modeNo,jdbcType=DECIMAL},
      </if>
      <if test="record.frequency != null" >
        FREQUENCY = #{record.frequency,jdbcType=DECIMAL},
      </if>
      <if test="record.t1 != null" >
        T1 = #{record.t1,jdbcType=VARCHAR},
      </if>
      <if test="record.t2 != null" >
        T2 = #{record.t2,jdbcType=VARCHAR},
      </if>
      <if test="record.t3 != null" >
        T3 = #{record.t3,jdbcType=VARCHAR},
      </if>
      <if test="record.r1 != null" >
        R1 = #{record.r1,jdbcType=VARCHAR},
      </if>
      <if test="record.r2 != null" >
        R2 = #{record.r2,jdbcType=VARCHAR},
      </if>
      <if test="record.r3 != null" >
        R3 = #{record.r3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update "METAL"."MODE_FACTORS"
    set ID = #{record.id,jdbcType=DECIMAL},
      ANALYSIS_ID = #{record.analysisId,jdbcType=DECIMAL},
      MODE_NO = #{record.modeNo,jdbcType=DECIMAL},
      FREQUENCY = #{record.frequency,jdbcType=DECIMAL},
      T1 = #{record.t1,jdbcType=VARCHAR},
      T2 = #{record.t2,jdbcType=VARCHAR},
      T3 = #{record.t3,jdbcType=VARCHAR},
      R1 = #{record.r1,jdbcType=VARCHAR},
      R2 = #{record.r2,jdbcType=VARCHAR},
      R3 = #{record.r3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>