<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suruomo.material.dao.ModeShapeResultMapper" >
  <resultMap id="BaseResultMap" type="com.suruomo.material.pojo.ModeShapeResult" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ANALYSIS_ID" property="analysisId" jdbcType="DECIMAL" />
    <result column="MODE_NO" property="modeNo" jdbcType="DECIMAL" />
    <result column="POINT_ID" property="pointId" jdbcType="DECIMAL" />
    <result column="T1" property="t1" jdbcType="VARCHAR" />
    <result column="T2" property="t2" jdbcType="VARCHAR" />
    <result column="T3" property="t3" jdbcType="VARCHAR" />
    <result column="R1" property="r1" jdbcType="VARCHAR" />
    <result column="R2" property="r2" jdbcType="VARCHAR" />
    <result column="R3" property="r3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ANALYSIS_ID, MODE_NO, POINT_ID, T1, T2, T3, R1, R2, R3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from "METAI"."MODE_SHAPE_RESULT"
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="getAll" resultType="com.suruomo.material.pojo.ModeShapeResult">
   select * from (
    <![CDATA[
    select rownum rn,a.* from (select * from "METAL"."MODE_SHAPE_RESULT") a where rownum <= #{end}
    ]]>
    )
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from "METAI"."MODE_SHAPE_RESULT"
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.suruomo.material.pojo.ModeShapeResult" >
    insert into "METAI"."MODE_SHAPE_RESULT" (ID, ANALYSIS_ID, MODE_NO, 
      POINT_ID, T1, T2, T3, 
      R1, R2, R3)
    values (#{id,jdbcType=DECIMAL}, #{analysisId,jdbcType=DECIMAL}, #{modeNo,jdbcType=DECIMAL}, 
      #{pointId,jdbcType=DECIMAL}, #{t1,jdbcType=VARCHAR}, #{t2,jdbcType=VARCHAR}, #{t3,jdbcType=VARCHAR}, 
      #{r1,jdbcType=VARCHAR}, #{r2,jdbcType=VARCHAR}, #{r3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suruomo.material.pojo.ModeShapeResult" >
    insert into "METAI"."MODE_SHAPE_RESULT"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="analysisId != null" >
        ANALYSIS_ID,
      </if>
      <if test="modeNo != null" >
        MODE_NO,
      </if>
      <if test="pointId != null" >
        POINT_ID,
      </if>
      <if test="t1 != null" >
        T1,
      </if>
      <if test="t2 != null" >
        T2,
      </if>
      <if test="t3 != null" >
        T3,
      </if>
      <if test="r1 != null" >
        R1,
      </if>
      <if test="r2 != null" >
        R2,
      </if>
      <if test="r3 != null" >
        R3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="analysisId != null" >
        #{analysisId,jdbcType=DECIMAL},
      </if>
      <if test="modeNo != null" >
        #{modeNo,jdbcType=DECIMAL},
      </if>
      <if test="pointId != null" >
        #{pointId,jdbcType=DECIMAL},
      </if>
      <if test="t1 != null" >
        #{t1,jdbcType=VARCHAR},
      </if>
      <if test="t2 != null" >
        #{t2,jdbcType=VARCHAR},
      </if>
      <if test="t3 != null" >
        #{t3,jdbcType=VARCHAR},
      </if>
      <if test="r1 != null" >
        #{r1,jdbcType=VARCHAR},
      </if>
      <if test="r2 != null" >
        #{r2,jdbcType=VARCHAR},
      </if>
      <if test="r3 != null" >
        #{r3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suruomo.material.pojo.ModeShapeResult" >
    update "METAI"."MODE_SHAPE_RESULT"
    <set >
      <if test="analysisId != null" >
        ANALYSIS_ID = #{analysisId,jdbcType=DECIMAL},
      </if>
      <if test="modeNo != null" >
        MODE_NO = #{modeNo,jdbcType=DECIMAL},
      </if>
      <if test="pointId != null" >
        POINT_ID = #{pointId,jdbcType=DECIMAL},
      </if>
      <if test="t1 != null" >
        T1 = #{t1,jdbcType=VARCHAR},
      </if>
      <if test="t2 != null" >
        T2 = #{t2,jdbcType=VARCHAR},
      </if>
      <if test="t3 != null" >
        T3 = #{t3,jdbcType=VARCHAR},
      </if>
      <if test="r1 != null" >
        R1 = #{r1,jdbcType=VARCHAR},
      </if>
      <if test="r2 != null" >
        R2 = #{r2,jdbcType=VARCHAR},
      </if>
      <if test="r3 != null" >
        R3 = #{r3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suruomo.material.pojo.ModeShapeResult" >
    update "METAI"."MODE_SHAPE_RESULT"
    set ANALYSIS_ID = #{analysisId,jdbcType=DECIMAL},
      MODE_NO = #{modeNo,jdbcType=DECIMAL},
      POINT_ID = #{pointId,jdbcType=DECIMAL},
      T1 = #{t1,jdbcType=VARCHAR},
      T2 = #{t2,jdbcType=VARCHAR},
      T3 = #{t3,jdbcType=VARCHAR},
      R1 = #{r1,jdbcType=VARCHAR},
      R2 = #{r2,jdbcType=VARCHAR},
      R3 = #{r3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>